# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build

# Ignore IDE configuration
.vscode

# Ignore IDE build
app/bin/

# Ignore gradle others
gradlew
gradlew.bat
gradle/
